
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.card {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 3px;
  width: 50px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.matched {
    background-color: white;
  }

  &.not-flipped {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(117, 186, 25, 1) 61%, rgba(255, 133, 0, 1) 100%);
  }

  .face {
    font-weight: 600;
    font-size: 42px;
  }

  .flipped {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }
}
