body {
  background-color: ghostwhite;
  text-align: center;
}

#memory {
  display: inline-block;

  header {
    display: flex;
    flex-direction: column;
    text-align: left;

    .game-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .game-controls {
        display: flex;
        flex-direction: column;

        .ng-button {
          background-color: white;
          border: 1px solid black;
          border-radius: 3px;
          margin: 2px;
          padding: 6px;

          &:hover {
            background-color: darkgray;
          }

          &:active {
            background-color: gray;
          }
        }

        .game-settings {
          font-size: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .board {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-gap: 5px;
  }
}
