
body {
  background-color: ghostwhite;
  text-align: center;
}

#memory {
  display: inline-block;

  header {
    display: flex;
    flex-direction: column;
    text-align: left;

    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .ng-button {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        margin: 2px;
        padding: 6px;

        &:hover {
          background-color: darkgray;
        }

        &:active {
          background-color: gray;
        }
      }
    }
  }

  .board {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-gap: 5px;
  }
}
